<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JEE</display-name>
  <welcome-file-list>
    <welcome-file>Accueil.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Gestion des utilisateurs (Login et Inscription)</description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>servlets.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MorpionServlet</display-name>
    <servlet-name>MorpionServlet</servlet-name>
    <servlet-class>servlets.MorpionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MorpionServlet</servlet-name>
    <url-pattern>/MorpionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NavigationServlet</display-name>
    <servlet-name>NavigationServlet</servlet-name>
    <servlet-class>servlets.NavigationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NavigationServlet</servlet-name>
    <url-pattern>/NavigationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EquipeServlet</display-name>
    <servlet-name>EquipeServlet</servlet-name>
    <servlet-class>servlets.EquipeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EquipeServlet</servlet-name>
    <url-pattern>/EquipeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TournoiServlet</display-name>
    <servlet-name>TournoiServlet</servlet-name>
    <servlet-class>servlets.TournoiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TournoiServlet</servlet-name>
    <url-pattern>/TournoiServlet</url-pattern>
  </servlet-mapping>
</web-app>